{% extends "halfwayapp/base.html" %}

{% block content %}
<div class = "container">
    <div class="row">
    <h1>Let's get started. <small>Enter your starting point.</small></h1>
</div>
</div>
<div class="container">
<div class="row">
    <form method="post" class="form-horizontal">
    {% csrf_token %}
    <table class="table-condensed">
    {% for form in forms %}
        {{ form }}
    {% endfor %}
    </table>
    <input type="submit" name="PersonA_submit" value="Submit Address" class="btn btn-success"/>
</form>
<h1>Or... <small>If someone sent you a meeting ID, enter it below</small></h1>
</div>
</div>
<div class="container">
<div class="row">
<form method="post" class="form-horizontal">
{% csrf_token %}
<table class="table-condensed">
    {{ trip_id_form }}
</table>
<input type="submit" name="Enter_trip_id" value="Enter Trip ID" class="btn btn-success"/>
</form>

</div>
</div>
</div>



{% endblock %}
